@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

/*
font-family: 'Hana2.0 B';
font-family: 'Noto Sans KR', sans-serif; */

@import url(reset.css);

/* html {
    scroll-behavior: smooth;
  } */

/* 전체레이아웃 */
#wrap{}
#header{}
#banner{
    background-color: #a0d1ee;
    height: 470px;
}
#contents{}
#footer{}


/* contents layout */
#cont1{
    background-color: #f5f6f8;
    height: 940px;
}
#cont2{
    height: 555px;
    background-color: #efefef;
}

/* footer layour */
#footer_notice{
    height: 71px;
    line-height: 71px;
    background-color: #fff;
    border-bottom: 1px solid #e6e6e6;
}
#footer_info{
    height: 242px;
    background-color: #f7f8f9;

}

/* 중심영역 */
.container{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

/* clearfix */
.clearfix::after{content: ""; display: block; clear: both;}

/* header */
.header{
    font-family: 'Hana2.0 B';
    padding: 7px 0;
}
.header ul{}
.header ul li{
    float: left;
    background: url(../img/bar1.gif)no-repeat 0 8px ;
}

.header ul li a{
    display: block; /* >> 전체를 버튼으로 만들어야하므로 a태그 필수 */
    padding: 8px 15px;
}


.header ul.list1{
    float: left;
}
.header ul.list1 li:nth-child(2){
    background: none;
}
.header ul.list1 li{}

.header ul.list1 li a{}
.header ul.list1 li.green a{
    background-color: #00907f;
    color: #fff;
    border-radius: 3px;
}

.header ul.list2{
    float:right
}
.header ul.list2 li{}
.header ul.list2 li a{}
.header ul.list2 li.log a{
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 3px 10px;
    margin: 5px 0;
    margin-right: 13px;
}

/* banner */

/* ban_left */
.ban_left{
    position: relative;
}
.ban_left .ob{
    position: absolute;
    left: -300px;
}
.ban_left .ob1{
    /* 구름1 */
    left: 151px; top: 161px;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: cloud 3s 0.3s linear infinite both; /* both-튕기는걸방지 */
}
.ban_left .ob2{
    /* 구름2 */
    left: 133px; top: 217px;
    animation: cloud 3s 0.6s linear infinite both;
}
.ban_left .ob3{
    /* 달력 */
    left: 208px; top: 78px;
    animation: calendar 0.5s 0.5s both;
}
.ban_left .ob3-1{
    /* 쇼핑할땐 */
    left: 260px; /* 250px */ top: 112px;
    animation: toleft 0.5s 0.7s both;
}
.ban_left .ob3-2{
    /* 타이틀 */
    left: 250px; top: 140px;
    animation: toleft 0.5s 0.9s both;
}
.ban_left .ob3-3{
    /* 1 */
    left: 264px; top: 213px;
    animation: bToBottom 0.5s 0.7s both;
}
.ban_left .ob3-4{
    /* 1 */
    left: 320px; top: 213px;
    animation: bToBottom 0.5s 0.9s both;
}
.ban_left .ob4{
    /* 우산 */
    left: 433px; top: 302px;
    animation: umbrella 0.3s 2.8s both;
}
.ban_left .ob5{
    /* 슈트케이스 */
    left: 357px; top: 317px;
    animation: toBottom 0.3s 2.8s both;

}
.ban_left .ob6{
    /* 자동차 */
    left: 220px; top: 343px;
    animation: car 0.6s 1.8s both;
}
.ban_left .ob7{
    /* 선물 */
    left: 376px; top: 268px;
    animation: toBottom 0.3s 2.9s both;
}
.ban_left .ob8{
    /* 박스 */
    left: 360px; top: 285px;
    animation: toBottom 0.3s 3s both;
}
.ban_left .ob9{
    /* 가방 */
    left: 415px; top: 275px;
    animation: toBottom 0.3s 3.2s both;
}
.ban_left .ob10{
    /* 바람1 */
    left: 501px; top: 370px;
    transform-origin: left top; /* transform-orgin >> 중심점을 바꿈, left top은 왼쪽에서 커지게 */
    animation: wind 2s 3.4s linear infinite both;
}
.ban_left .ob11{
    /* 바람2 */
    left: 501px; top: 370px;
    transform-origin: left top;
    animation: wind 2s 3.2s linear infinite both;
}
.ban_left .ob12{
    /* 원 */
    left: 485px; top: 119px;
    animation: rotate 3s linear infinite; /* linear 속도 일정하게 */
}
.ban_left .ob13{
    /* 써프라이즈 */
    left: 378px; top: 189px;
    animation: wind 3s 4s both;
    transform-origin: left center;
}


/* @keyframes */
@keyframes cloud{
    0%{transform: translateX(-10px);}
    50%{transform: translateX(10px);}
    100%{transform: translateX(-10px);}
}
@keyframes calendar{
    0%{transform: translateY(-300px); opacity: 0;}
    100%{transform: translateY(0); opacity: 1;}
}
@keyframes toleft{
    0%{transform: translateX(500px); opacity: 0;}
    100%{transform: translateX(0); opacity: 1;}
}
@keyframes bToBottom{
    0%{transform: translateY(-500px); opacity: 0;}
    70%{transform: translateY(30px); opacity: 1;}
    100%{transform: translateY(0); opacity: 1;}
}
@keyframes umbrella{
    0%{transform: translate(110px,-100px); opacity: 0;} /* 사선으로(오른쪽위 --> 원점) */
    100%{transform: translate(0,0); opacity: 1;}
}
@keyframes car{
    0%{transform: translateX(500px); opacity: 0;}
    85%{transform: translateX(-180px); opacity: 1;}
    100%{transform: translateX(0); opacity: 1;}
}

@keyframes toBottom{
    0%{transform: translateY(-100px); opacity: 0;}
    100%{transform: translateY(0); opacity: 1;}
}
@keyframes wind{
    0%{transform: scale(0); opacity: 0;}
    10%{transform: scale(1); opacity: 1;}
    100%{transform: scale(1); opacity: 1;}
}
@keyframes rotate{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(359deg);}
}





/* ban_right */
.ban_right{
    width: 600px;
    position: absolute;
    right: 0;
    top: 50px;
}
.ban_right .br_tit{
    background-color: #fff;
    padding: 45px 0 43px 100px;
}
.ban_right .br_tit h3{
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: -1px;
}
.ban_right .br_tit p{
    padding-top: 50px;
    font-size: 14px;
    position: relative;
}
.ban_right .br_tit p::before{content: "";
    position: absolute;
    top: 24px;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #00907f;
}
.ban_right .br_tit p strong{}

.ban_right .login_btn{
    position: absolute;
    right: 50px;
    top: 54px;
}
.ban_right .login_btn ul{}
.ban_right .login_btn ul li{}
.ban_right .login_btn ul li a{
    display: block;
    width: 80px;
    height: 80px;
    text-align: center;
    font-size: 14px;
    color: #fff;
}

.ban_right .login_btn ul li.lb1{
    margin-bottom: 1px;
}
.ban_right .login_btn ul li.lb1 a{
    background: #db3360 url(../img/ico_login.png) no-repeat center 18px;
    padding-top: 50px; /* >> 글자는 padding으로 */
    box-sizing: border-box; /* >> 80px안에 모두 포함시킴 */
    transition: 0.3s;
}

.ban_right .login_btn ul li.lb1 a:hover{
    background-color: #c4204c;
}
.ban_right .login_btn ul li.lb2 a{
    background-color: #3c3f44;
    line-height: 80px; /* >> 높이값이 80px이기때문에 line-height를 80px주면 글자가 중앙에 위치한다. 단, 한줄일때만 가능 */
    transition: 0.3s;
}
.ban_right .login_btn ul li.lb2 a:hover{
    background-color: #333;
}

.ban_right .br_btn{
    background-color: #00907f;
    margin-top: 25px;
    height: 50px;
}
.ban_right .br_btn ul{}
.ban_right .br_btn ul li{ /* li블록요소이기때문에 부모인 ul에게 flex를 준다. */
    float: left;
    width: 25%;
    text-align: center;
    font-size: 14px;
    line-height: 50px;
    position: relative;
}

.ban_right .br_btn ul li::before{content: ""; /* >> absolute시킬거라서 after,before아무거나 */
    position: absolute;
    left: 0; top: 18px; width: 1px; height: 18px;
    background-color: #62bdb1;
}

.ban_right .br_btn ul li:first-child:before{  /* li의 첫번째 자식이기때문에 li에 first-child를 준다. before에 주면 안된다. */
    width: 0; height: 0;
    /* display: none; */
}


.ban_right .br_btn ul li a{
    color: #fff;
    display: block;
    
}


/* nav */
#nav{
    position: absolute;
    left: 0;
    top: -50px;
    width: 100%;
    font-family: 'Hana2.0 B';
    background-color: #fff;
    border-bottom: 1px solid #e6e6e6; /* >> 선이 약간 그림자역할을 한다. */
    /* position: relative; */
    padding: 30px 0; /* 영역안에서 자식을 공간안에 넣고싶다>padding margin을쓰면 병합현상발생 */
}
#nav .gnb{
    padding-left: 60px;
}
#nav .gnb li{
    display: inline;
    padding: 10px;
}
#nav .gnb li a{
    font-size: 17px;
    display: inline-block;
    transition: 0.3s;
    padding: 10px 16px;
}

#nav .gnb li a:hover{
    background-color: #00907f;
    color: #fff;
    border-radius: 3px;
    
}


#nav .gnb_right{
    position: absolute;
    right: 50px;
    top: 30px;
}
#nav .gnb_right li{
    float: left;
}
#nav .gnb_right li a{
    display: block;
    padding: 11px 20px;
    font-size: 14px;

}
#nav .gnb_right li.gr1{
    margin-right: 10px;
}
#nav .gnb_right li.gr1 a{
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    transition: 0.3s;
}
#nav .gnb_right li.gr1 a:hover{
    background-color: #f4f4f4;
    color: #000;
}
#nav .gnb_right li.gr2 a{
    background-color: #404b57;
    color: #fff;
    border-radius: 3px;
    transition: 0.3s;
    border: 1px solid #404b57;
}
#nav .gnb_right li.gr2 a:hover{
    background-color: #000;
    border-color: #000;
}

#nav .gnb_right li.gr2 a i{
    margin-left: 7px;
}

#nav .gnb_search{
    position: absolute;
    width: 50px;
    height: 50px;
    right: 286px;
    top: 26px;
    background: url(../img/gnb_search.png) no-repeat;
}

#nav .gnb_event{
    position: absolute;
    top: -35px;
    left: 20px;
    background-color: #3c3f44;
    color: #fff;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    padding: 3px 23px 2px;
}
#nav .gnb_event i{
    padding-left: 10px;
}


/* card */
#card{
    padding-top: 60px;
}
#card>div{
    float: left;
    width: 50%;
    height: 285px;
}
#card .card_img{
    background-color: #fff;
}
#card .card_desc{
    background-color: #eaebef;
}

/* card_img */
#card .card_img{
    /* 위에 있는 같은 내용이면 덮어쓰기되지만 다른 내용은 따로 적용된다. */
    padding: 18px 47px 0;
    box-sizing: border-box;
    position: relative;
}
#card .card_img h4{
    font-size: 18px;
    color: #000;
    margin-bottom: 11px;
}
#card .card_img .card_banner{}
#card .card_img .card_banner ul{}
#card .card_img .card_banner ul li{
    float: left;
    width: 146px;
    text-align: center;
    margin-right: 30px;
}
#card .card_img .card_banner ul li:last-child{
    margin-right: 0;
}
#card .card_img .card_banner ul li a{}
#card .card_img .card_banner ul li a img{
    width: 100%;
}
#card .card_img .card_banner ul li a img em{
    display: block;
    padding-top: 8px;
    font-size: 14px;
}


#card .card_img .card_link{
    margin-top: 30px;
}
#card .card_img .card_link ul{}
#card .card_img .card_link ul li{
    float: left;
    margin-right: 13px;
}
#card .card_img .card_link ul li:last-child{
    margin-right: 0;
}
#card .card_img .card_link ul li a{
    display: block;
    padding: 10px 11px;
    font-size: 15px;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    transition: 0.3s;
}

#card .card_img .card_link ul li a:hover{
    color: #00907f;
    border-color: #666;
}

#card .card_img .cardmore_btn{
    position: absolute;
    right: -31px; top: 76px;
    width: 31px; height: 144px;
    background: url(../img/btn_card_v01.png) ;
}

/* card_desc */
#card .card_desc{
    text-align: center;
    padding-top: 50px;
    box-sizing: border-box;
}
#card .card_desc dl{}
#card .card_desc dl dt{
    font-size: 15px;
    color: #777;
    font-weight: 500;
}
#card .card_desc dl dd{}
#card .card_desc dl dd.cd1{
    font-size: 23px;
    margin: 26px 0 45px;
}

#card .card_desc dl dd.cd1::before,
#card .card_desc dl dd.cd1::after{
    content: '"';
    color: #00907f;
}
#card .card_desc dl dd.cd2{
}
#card .card_desc dl dd.cd2 ul{}
#card .card_desc dl dd.cd2 ul li{
    display: inline;
}
#card .card_desc dl dd.cd2 ul li a{
    display: inline-block;
    background-color: #fff;
    border: 1px solid #fff; /* >> hover할 때 움직이기때문에 선공간을 만들어준다. */
    padding: 8px 30px;
    transition: 0.3s;
}
#card .card_desc dl dd.cd2 ul li a:hover{
    border: 1px solid #bbb;
}


/* event */
#event{
    text-align: center;
    margin-top: 10px;
}
#event>div{
    float: left;
}

/* event_box1 */
.event_box1{}
.event_box1>div{
    width: 300px;
    height: 188px;
    box-sizing: border-box;
    padding-top: 100px; /* >> 글자를 움직일 때는 항상 padding */
}
.event_box1 .eb_desc{
    font-size: 16px;
    font-weight: 300;
    color: #fff;
}
.event_box1 .eb_tit{
    font-size: 20px;
    color: #fff;
}
.event_box1 .eb_banner1{
    background: #01937f url(../img/event_icon1.png) no-repeat center 25px; /* 원래 기준 left top */
}
.event_box1 .eb_banner2{
    background: #766e9c url(../img/event_icon2.png) no-repeat center 25px;
}
.event_box1 .eb_banner3{
    background: #43587d url(../img/event_icon3.png) no-repeat center 25px;
}


.event_box2{
    width: 600px;
    height: 276px;
    background-color: #fff;
    position: relative;
}
.event_box2 .eb_icon{
    position: absolute;
    left: 60px;
    top: 60px;
    z-index: 40;
    
}

.event_box2 .eb_icon ul{}
.event_box2 .eb_icon ul li{
    float: left;
}
.event_box2 .eb_icon ul li a{
    display: block;
    font-size: 13px;
    padding: 3px 12px;
    border-radius: 3px;
}
.event_box2 .eb_icon ul li.ei1{
    margin-right: 8px;
}
.event_box2 .eb_icon ul li.ei1 a{
    background-color: #00907f;
    color: #fff;
    transition: 0.3s;
}
.event_box2 .eb_icon ul li.ei1 a:hover{
    background-color: #007668;
    border-color: #007668;
}

.event_box2 .eb_icon ul li.ei2 a{
    border: 1px solid #ccc;
    transition: 0.3s;
}
.event_box2 .eb_icon ul li.ei2 a:hover{
    /* background-color: #000; */
    border-color: #000;
}
.event_box2 .eb_icon ul li a i{
    padding-left: 8px;
}

/* slick */
.event_box2 .eb_slider{}
.eb_slider_list{}
.eb_slider_list .slick-dots{
    position: absolute;
    right: 50px;
    top: 50px;
}
.eb_slider_list .slick-dots li{
    float: left;
    margin-right: 10px;
}
.eb_slider_list .slick-dots li button{
    font-size: 0;
    line-height: 0;
    width: 8px;
    height: 8px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%; /* 50%로 하면 원이 된다. */
    cursor: pointer;
    transition: 0.3s;
}
.eb_slider_list .slick-dots li.slick-active button{
    background-color: #d75e7e;
}


/* 정지/재생 버튼 */

.eb_slider .page_act{
    top: 60px;
    right: 132px;
}
.page_act{

    font-size: 0;
    position: absolute;
    /* right: 0; top: 0;
    color: #000; */
    
}
.page_act .btn_stop{
    display: none;
    width: 8px;
    height: 8px;
    background: url(../img/btn_banner_stop.png) no-repeat;
}
.page_act .btn_play{
    display: block;
    width: 8px;
    height: 8px;
    background: url(../img/btn_banner_play.png) no-repeat;
    /* background-color: rgba(0, 0, 0, 0.3); */
}

.page_act.on .btn_stop{
    display: block;
}
.page_act.on .btn_play{
    display: none;
}


/* eb_banner5 */
.event_box2 .eb_banner5{
    position: relative;
    background: #8cc7e9 url(../img/event_icon4.png) no-repeat 153px 53px; /* 165px 35px */
    height: 188px;
    
}
.event_box2 .eb_banner5 h4{
    position: absolute;
    left: 60px;
    top: 85px; /* top: 60px; */
    font-family: 'Hana2.0 B';
    color: #000;
    font-size: 20px;
}
.event_box2 .eb_banner5 .money{
    padding-left: 263px; /* padding-left: 281px; */
    padding-top: 47px; /* padding-top: 27px; */
}
.event_box2 .eb_banner5 .money li{
    float: left;
    margin-bottom: 15px;
    margin-right: 8px;
}
.event_box2 .eb_banner5 .money li a{
    display: block;
    background-color: #fff;
    width: 163px; /* width: 154px; */
    padding: 9px 0;
    font-size: 14px;
    border-radius: 3px;
    transition: 0.3s;
}
.event_box2 .eb_banner5 .money li:hover a{
    background-color: #f4f4f4;
}
.event_box2 .eb_banner5 .money li.w100 a{
    width: 120px; /* width: 100px; */
}
.event_box2 .eb_banner5 .point{
    position: absolute;
    left: 58px;
    top: 51px; /* top: 29px; */
    background-color: #43587d;
    color: #fff;
    font-size: 13px;
    border-radius: 3px;
    padding: 3px 12px;
}
.event_box2 .eb_banner5 .point i{
    padding-left: 8px;
}



/* event_box3 */
.event_box3{
    width: 300px;
    height: 564px;
    background-color: #d7567e;
    color: #fff;
}
.event_box3 h4{
    font-size: 22px;
    padding: 40px 0;
}

.event_box3 .eb_slider2{
    position: relative;
}
.event_box3 img{
    display: inline;
    /* text-align: center; */
}

.event_box3 .slick-dots{
    margin-left: 10px;
    margin-top: 9px;
}
.event_box3 .slick-dots li{
    display: inline;
    margin-right: 10px;
    
}
.event_box3 .slick-dots li button{ /* button에 줘도되고, li에 줘도된다. */
    font-size: 0;
    line-height: 0;
    border: none; /* border: 0;해도된다. */
    width: 8px; /* width: 10px; */
    height: 8px; /* height: 10px; */
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    transition: 0.3s;

}
.event_box3 .slick-dots li.slick-active button{
    background-color: rgba(255, 255, 255, 1);
}

.event_box3 .page_act{
    left: 109px;
    bottom: 117px;
    
}


.event_box3 p{
    font-size: 16px;
    padding: 15px 0 15px;
}
.event_box3 .es2_btn{
    background-color: #fff;
    display: inline-block;
    padding: 9px 56px; /* padding: 10px 50px; >> 원래값, font-size를 적용때문에 바꿈 */
    border-radius: 3px;
    font-size: 15px;
}


/* life */
#life{
    position: relative;
    height: 330px;
}
#life .life_menu{
    position: absolute;
    right: 50px; top: 60px;
    z-index: 10;
}
#life .life_menu ul{}
#life .life_menu ul li{
    float: left;
    margin-right: 45px;
}
#life .life_menu ul li:last-child{
    margin-right: 0;
}
#life .life_menu ul li a{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    font-size: 17px;
}
#life .life_menu ul li a:hover{
    background-color: #cc3b63;
    color: #fff;
}


#life .life_style{}
#life .life_style ul{}
#life .life_style ul li{
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
}
#life .life_style ul li:nth-child(1){
    background: url(../img/mc_service_bg02.png) no-repeat;
}
#life .life_style ul li:nth-child(2){
    background: url(../img/mc_service_bg03.png) no-repeat;
}
#life .life_style ul li:nth-child(3){
    background: url(../img/mc_service_bg04.png) no-repeat;
}
#life .life_style ul li:nth-child(4){
    background: url(../img/mc_service_bg05.png) no-repeat;
}
#life .life_style ul li .text{}
#life .life_style ul li .text a{
    width: 50%;
    display: block;
    font-size: 50px;
    padding: 60px 0 0 30px;
    letter-spacing: 23px;
    font-weight: 500;
}
#life .life_style ul li .text a em{
    font-size: 18px;
    display: block;
    letter-spacing: 1px;
    color: #000;
}


/* life_btn */

#life .life_btn{
    position: absolute;
    width: 100%;
    bottom: 53px; /* 86px */
    left: 0;
    text-align: center;
    background-color: #fff;
}
#life .life_btn ul{}
#life .life_btn ul li{
    width: 16.6666%;
    float: left;
    position: relative; /* >> ::before에 position: absolute;를 줘서 */
}

#life .life_btn ul li a{
    display: block;
    padding: 13px 0;
    color: #333;
    font-size: 16px;
}

#life .life_btn ul li::before{ /* >> after줘도 상관없음 */
    content: "";
    position: absolute;
    left: 0;
    top: 19px;
    width: 1px;
    height: 14px;
    background-color: #ccc;
}
#life .life_btn ul li:first-child::before{
    width: 0; height: 0;
}
#life .life_btn ul li a:hover{
    color: #00907f;
}

/* app */
#app{}

#app .app_left{
    float: left;
    width: 49%;
    background: #fff url(../img/mc_service_banner01_img.jpg) no-repeat;
    background-position: 45px 45px;
    height: 200px;
}
#app .app_left ul{
    padding: 44px 0 0 277px;
}
#app .app_left ul li{
    width: 48px;
    height: 48px;
    float: left;
    margin-right: 20px;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    /* overflow: hidden; */

}
#app .app_left ul li a{}
#app .app_left ul li a img{
    width: 100%;
    border-radius: 10px; /* >> overflow: hidden;를 li에 줘도 된다. */
    
}
#app .app_left ul li:nth-child(4){
    border: none;  /* 마지막 버튼이 기본으로 border가 있어서 border:none;을 적용 */
    
}

#app .app_left .al_text{
    /* padding: 12px 0 0 277px;  */
    padding-left: 277px;
    margin-top: 12px;
}
#app .app_left .al_text a{
    font-size: 16px;
    color: #666;
    
}
#app .app_left .al_text a strong{
    display: block;
    font-size: 20px;
    color: #000;
    line-height: 34px;
    
}

#app .app_right{
    float: right;
    width: 50%;
    background: #ddd;
    height: 200px;
}

#app .app_right>div{
    float: left;
    height: 200px;
    text-align: center;
    color: #fff;
    font-size: 16px;
}
#app .app_right .ar_ban1{
    width: 25%;
    background: #2f4359 url(../img/service_ban01.png) no-repeat center 50px;
    padding-top: 130px;
    box-sizing: border-box;
    
}
#app .app_right .ar_ban2{
    width: 25%;
    background: #00907f url(../img/service_ban02.png) no-repeat center 50px;
    padding-top: 130px;
    box-sizing: border-box;
}
#app .app_right .ar_ban3{
    width: 50%;
    background: #fff;
    padding: 20px 20px 19px;
    box-sizing: border-box;
}
#app .app_right .ar_ban3 .ban3_text{
    color: #666;
    font-size: 15px;
    border-bottom: 1px solid #ddd;
    background: url(../img/service_ban03.png) no-repeat 10px 40px;
    padding: 20px 0 30px 75px;
    text-align: left;
}
#app .app_right .ar_ban3 .ban3_text h5{
    font-size: 20px;
    color: #000;
    text-align: left;
}
#app .app_right .ar_ban3 .ban3_slide{
    color: #000;
    font-size: 16px;
    padding-top: 10px;
}

#footer .notice{
    overflow: hidden;
}

#footer .notice h3{
    float: left;
    margin-right: 30px;
    font-size: 15px;
}
#footer .notice h3 i{
    font-size: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 4px;
    margin-left: 5px;
    vertical-align: 2px; /* 인라인요소는 라인이 안맞을 때 */
}
#footer_notice .container .notice ul{
    float: left;
}
#footer .notice ul li{
    float: left;
    width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 50px;
    position: relative;
    padding-left: 8px;
}
#footer .notice ul li::after{
    content: "";
    position: absolute;
    left: 0;
    top: 34px;
    width: 3px;
    height: 3px;
    background-color: #333;
}
#footer .notice ul li a{
    font-size: 15px;
    color: #666;
}
#footer .notice .notice_btn{
    position: absolute;
    right: 0;
    top: 20px;
    border: 1px solid #e6e6e6;
    font-size: 14px;
    border-radius: 3px;
    line-height: 20px;
    padding: 3px 20px;
    transition: 0.3s;
}
#footer .notice .notice_btn:hover{
    border-color: #000;
}


/* info */
.info{}
.info a{
    color: #666;
}
.info a:hover{
    color: #00907f;
}
.info .f_nav{}
.info .f_nav li{
    display: inline-block;
    padding: 10px;
}
.info .f_nav li:first-child{
    padding-left: 0;
}
.info .f_nav li a strong{
    font-weight: bold;
    color: #000;
}
.info .f_nav li a strong:hover{
    color: #00907f;
}
.f_address{margin-top: 20px;}
.f_address span{padding-right: 15px;}

.f_icon{
    margin-top: 20px;
}
.f_icon ul{}
.f_icon ul li{
    float: left;
    padding: 5px 30px 5px 0;
}
.f_icon ul li a{

}

.f_icon ul li.fi1{background: url(../img/mark01.png) no-repeat; padding-left: 41px;}
.f_icon ul li.fi2{background: url(../img/mark02.png) no-repeat; padding-left: 47px;}
.f_icon ul li.fi3{background: url(../img/mark03.png) no-repeat; padding-left: 48px;}
.f_icon ul li.fi4{background: url(../img/mark04.png) no-repeat; padding-left: 60px;}
.f_icon ul li.fi5{background: url(../img/mark05.png) no-repeat; padding-left: 42px;}

.family_site{
    position: absolute;
    right: 0;
    top: 20px;
    font-size: 14px;
    border: 1px solid #e6e6e6;
    padding: 7px 20px;
}
.family_site i{padding-left: 20px;}

.sns_icon{
    position: absolute;
    right: 0;
    top: 76px;
}
.sns_icon li{
    display: inline;
}